.address-wrapper
  = render 'users/shared/header'
  .address-wrapper__contents
    = form_for @address, url: users_card_path, :html => {:class => "address-wrapper__contents__form"} do |f|
      = f.text_field :postcode
      = f.text_field :
  = render 'users/shared/footer'