.completion-wrapper
  = render 'users/shared/header'
  .completion-wrapper__contents
    .completion-wrapper__contents__top
      %p.completion-wrapper__contents__top__message
        会員登録完了
    .completion-wrapper__contents__body
      %p.completion-wrapper__contents__body__message
        ありがとうございます。
      %p.completion-wrapper__contents__body__bottom-message
        会員登録が完了しました。
      = link_to "メルカリをはじめる", "root_path", class: "completion-wrapper__contents__body__btn"
    = image_tag "https://i.gyazo.com/34b83e79fa30d8e98dc7fc2c694d11a4.png", width: 700, height: 300
  = render 'users/shared/footer'
      
      
-# .banner
  .banner__contents
    .banner__contents__left
      .banner__contents__left__first
        スマホでかんたんフリマアプリ
      .banner__contents__left__second
        今すぐ無料ダウンロード！
      .banner__contents__left__icon
        = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?3791839826", alt: "logo", width: 68, height: 68
        %ul.banner__contents__left__icon--btn
          %li.banner__contents__left__icon--btn--apple
            = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3791839826", alt: "image", width: 135, height: 40
          %li.banner__contents__left__icon--btn--google
            = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3791839826", alt: "image", width: 135, height: 40
    .banner__contents__right
      = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?3791839826", alt: "image", width: 300, height: 260