.user_wrapper
  = render 'users/shared/header'
  .user_wrapper__contents
    .user_wrapper__contents__forms
      .user_wrapper__contents__forms__message
        %p
          会員情報入力
      .user_wrapper__contents__forms__body
        = form_for(resource, as: resource_name, url: users_put_in_path(resource_name)) do |f|
          .user_wrapper__contents__forms__body__form
            = f.label :name, "ニックネーム", class: "user_wrapper__contents__forms__body__form__label"
            %span.user_wrapper__contents__forms__body__form__logo
              必須
            = f.text_field :nickname, placeholder: "   例）太郎忍者", class: "user_wrapper__contents__forms__body__form__field"
          .user_wrapper__contents__forms__body__form
            = f.label :name, "メールアドレス", class: "user_wrapper__contents__forms__body__form__label"
            %span.user_wrapper__contents__forms__body__form__logo
              必須
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "   PC・携帯どちらでも可", class: "user_wrapper__contents__forms__body__form__field"
          - if session[:omni].nil?
            .user_wrapper__contents__forms__body__form
              = f.label :name, "パスワード", class: "user_wrapper__contents__forms__body__form__label"
              %span.user_wrapper__contents__forms__body__form__logo
                必須
              = f.password_field :password, placeholder: "  ７文字以上", autocomplete: "new-password", class: "user_wrapper__contents__forms__body__form__field"
            .user_wrapper__contents__forms__body__form
              = f.label :name, "パスワード(確認)", class: "user_wrapper__contents__forms__body__form__label"
              %span.user_wrapper__contents__forms__body__form__logo
                必須
              = f.password_field :password_confirmation, placeholder: "  ７文字以上", autocomplete: "new-password", class: "user_wrapper__contents__forms__body__form__field"

          .user_wrapper__contents__forms__body__info
            %h3.user_wrapper__contents__forms__body__info__message
              本人確認
            %p.user_wrapper__contents__forms__body__info__text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .user_wrapper__contents__forms__body__form
            .user_wrapper__contents__forms__body__form__items
              = f.label :name, "お名前(全角)", class: "user_wrapper__contents__forms__body__form__items__namelabel"
              %span.user_wrapper__contents__forms__body__form__items__name-logo
                必須
            = f.text_field :first_name, placeholder: "　例）福沢", class: "user_wrapper__contents__forms__body__form__field-name"
            = f.text_field :last_name, placeholder: "　例　諭吉", class: "user_wrapper__contents__forms__body__form__field-lsname"
          .user_wrapper__contents__forms__body__form
            .user_wrapper__contents__forms__body__form__items
              = f.label :name, "お名前カナ(全角)", class: "user_wrapper__contents__forms__body__form__items__namelabel"
              %span.user_wrapper__contents__forms__body__form__items__name-logo
                必須
            = f.text_field :first_name_kana, placeholder: "　例）フクザワ", class: "user_wrapper__contents__forms__body__form__field-name"
            = f.text_field :last_name_kana, placeholder: "　例　ユキチ", class: "user_wrapper__contents__forms__body__form__field-lsname"
          .user_wrapper__contents__forms__body__form
            .user_wrapper__contents__forms__body__form__items
              = f.label :name, "お名前カナ(全角)", class: "user_wrapper__contents__forms__body__form__items__namelabel"
              %span.user_wrapper__contents__forms__body__form__items__name-logo
                必須
            != sprintf(f.date_select(:birth_date, start_year: 1950, end_year: (Time.now.year), use_month_numbers: true, date_separator: '%s'), '年', '月') + '日'
          .user_wrapper__contents__forms__body__form
          .user_wrapper__contents__forms__body__message
            %p.user_wrapper__contents__forms__body__message__text
              ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
            = recaptcha_tags
          .user_wrapper__contents__forms__body__tbox
            %span.user_wrapper__contents__forms__body__tbox__agree
              「次へ進む」のボタンを押すことにより、
            %a{href: "", class: "user_wrapper__contents__forms__body__tbox__link"} 利用規約
            %span.user_wrapper__contents__forms__body__tbox__agree
              に同意したものとみなします
          .user_wrapper__contents__forms__body__buttonbox
            = f.submit "次に進む", class: "user_wrapper__contents__forms__body__buttonbox__btn"
            -# = link_to "", class: "user_wrapper__contents__forms__body__buttonbox__btn" do
              %p.user_wrapper__contents__forms__body__buttonbox__btn__next
                次に進む
          .user_wrapper__contents__forms__body__infobox
            %a{href: "", class:"user_wrapper__contents__forms__body__infobox__info"}
              本人情報の登録について
            = fa_icon "chevron-right", class: "user_wrapper__contents__forms__body__infobox__icon"
  = render 'users/shared/footer'


