.tell_wrapper
  = render 'users/shared/header'
  .tell_wrapper__contents
    .tell_wrapper__contents__top
      %p.tell_wrapper__contents__top__text
        電話番号の確認
    .tell_wrapper__contents__body
      %p.tell_wrapper__contents__body__text
        携帯電話の番号
      %input.tell_wrapper__contents__body__input{type: "text", placeholder: "   携帯電話の番号を入力"}
      %p.tell_wrapper__contents__body__comment
        本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
      = link_to "SNSを送信する", users_address_path, class: "tell_wrapper__contents__body__submit"
      %input.tell_wrapper__contents__body__submit{type: "submit", value:"SNSを送信する"}
      %p.tell_wrapper__contents__body__message
        ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
      .tell_wrapper__contents__body__links
        = link_to "電話番号の確認が必要な理由", "", class: "tell_wrapper__contents__body__links__link"
        = fa_icon "chevron-right"
  = render 'users/shared/footer'
  