.tell_wrapper
  = render 'users/shared/header'
  .tell_wrapper__contents
    .tell_wrapper__contents__top
      %p.tell_wrapper__contents__top__text
        電話番号の確認
    = form_with url: send_sms_users_phone_auth_index_path, class: "tell_wrapper__contents__body", local: true do |f|
      %p.tell_wrapper__contents__body__text
        携帯電話の番号
      = f.text_field :num, autofocus: true, class: "tell_wrapper__contents__body__input", placeholder: "   携帯電話の番号を入力", id: "smsauth"
      %p.tell_wrapper__contents__body__notice
        
      %p.tell_wrapper__contents__body__comment
        本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
      = f.submit "SMSを送信する", class: "tell_wrapper__contents__body__submit", id: "phonesubmit"
      %p.tell_wrapper__contents__body__message
        ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
      .tell_wrapper__contents__body__links
        = link_to "電話番号の確認が必要な理由", "", class: "tell_wrapper__contents__body__links__link"
        = fa_icon "chevron-right"
  = render 'users/shared/footer'