= render 'items/header'

- breadcrumb :exhibit_items_now
= render 'shared/breadcrumbs'

.mypage

  = render 'sidebar'

  .mypage__right
    .mypage__right__side
      .mypage__right__side__tab--white 出品した商品
      .mypage__right__side__tab
        .mypage__right__side__tab__top
          .mypage__right__side__tab__top--left 出品中
          .mypage__right__side__tab__top--right 
        .mypage__right__side__tab__bottom
          %ul.mypage__right__side__tab__bottom__list
            = render 'users/shared/list', items: @items

= render 'items/footer'
