= render 'items/header'

- breadcrumb :logout
= render 'shared/breadcrumbs'

.mypage

  = render 'sidebar'

  .mypage__right
    .mypage__right__side
      .mypage__right__side__logout
        .mypage__right__side__logout__content
          .mypage__right__side__logout__content__box
            = link_to "ログアウト", destroy_user_session_path, method: 'delete', class: "mypage__right__side__logout__content__box__btn"

= render 'items/footer'