= render 'items/header'

- breadcrumb :mypage
= render 'shared/breadcrumbs'

.mypage

  = render 'sidebar'

  .mypage__right
    .mypage__right__side
      .mypage__right__side__user
        .mypage__right__side__user__icon
          = link_to "#", class: "mypage__right__side__user__icon" do
            .mypage__right__side__user__icon__figure
              = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", alt: "user", width: 60, height: 60
            .mypage__right__side__user__icon__figure__name
              test
            .mypage__right__side__user__icon__figure__contents
              .mypage__right__side__user__icon__figure__contents--value
                評価 
              .mypage__right__side__user__icon__figure__contents--puts
                出品数 
      .mypage__right__side__tab
        .mypage__right__side__tab__top
          .mypage__right__side__tab__top--left お知らせ
          .mypage__right__side__tab__top--right やることリスト
        .mypage__right__side__tab__bottom
          %ul.mypage__right__side__tab__bottom__list
            %li.mypage__right__side__tab__bottom__list__content お知らせの商品はありません
      .mypage__right__side__tab--white 購入した商品
      .mypage__right__side__tab
        .mypage__right__side__tab__top
          .mypage__right__side__tab__top--left 取引中
          .mypage__right__side__tab__top--right 過去の取引
        .mypage__right__side__tab__bottom
          %ul.mypage__right__side__tab__bottom__list
            %li.mypage__right__side__tab__bottom__list__content 取引中の商品はありません

= render 'items/footer'
