.buypage
  = render 'users/shared/header_center'

  %main.buypage__main
    %section.buypage__main__container
      %h2.buypage__main__container__title
        購入内容の確認
      %section.buypage__main__container__item
        .buypage__main__container__item__inner
          %h3.buypage__main__container__item__inner__image
            = image_tag @item.image, alt: "image", class:"buypage__main__container__item__inner__image"
          %p.buypage__main__container__item__inner__name
            = @item.name
          = form_with url: item_order_path, class: :buypage__main__container__item__inner__content do |f|
            %p.buypage__main__container__item__inner__content__price
              = "¥ #{ @item.price }"
              %span.buypage__main__container__item__inner__content__price__fee
                = @item.delivery_method.name
            %ul.buypage__main__container__item__inner__content__point
              %li
                .buypage__main__container__item__inner__content__point__text
                  ポイントはありません
            %ul.buypage__main__container__item__inner__content__pay
              %li.buypage__main__container__item__inner__content__pay__box
                .buypage__main__container__item__inner__content__pay__box__cell
                  支払い金額
                .buypage__main__container__item__inner__content__pay__box__cell
                  %span
                    = "¥#{ @item.price }"
                    = f.hidden_field :amount, value: @item.price
            = f.submit "購入する", class: "buypage__main__container__item__inner__btn"
            
      %section.buypage__main__container__user
        .buypage__main__container__user__inner
          %h3.buypage__main__container__user__inner__send
            配送先
          %address.buypage__main__container__user__inner__address
            = @address.postcode
            %br
            = "#{@address.prefecture.name} #{@address.city} #{@address.block} #{@address.building}"
            %br
            = "#{@address.first_name} #{@address.last_name}"
          %p.buypage__main__container__user__inner__text
          = link_to "#", class: "buypage__main__container__user__inner__link" do
            変更する
            = fa_icon "chevron-right", class: "buypage__main__container__user__inner__link__icon"
      %section.buypage__main__container__user--bottom
        .buypage__main__container__user__inner
          %h3.buypage__main__container__user__inner__pay
            支払い方法
          %p.buypage__main__container__user__inner__num
            = "************#{@card_info[:last4]}"
            %br
              ="#{@card_info[:month]}/#{@card_info[:year]}"
          %figure.buypage__main__container__user__inner__card
            = image_tag "card/#{@card_info[:brand]}", class: "buypage__main__container__user__inner__card", alt: "#{@card_info[:brand]}"
          %p.buypage__main__container__user__inner__text
          = link_to change_item_order_path, class: "buypage__main__container__user__inner__link" do
            変更する
            = fa_icon "chevron-right", class: "buypage__main__container__user__inner__link__icon"


  = render 'users/shared/footer'
