.log_wrapper
  = render 'users/shared/header_center'
  .log_wrapper__logcontents
    .log_wrapper__logcontents__forms
      .log_wrapper__logcontents__forms__top
        %p.log_wrapper__logcontents__forms__top__text
          アカウントをお持ちでない方はこちら
        = link_to "",class: "log_wrapper__logcontents__forms__top__form" do
          %p.log_wrapper__logcontents__forms__top__form__btn
            新規会員登録
      .log_wrapper__logcontents__forms__contents
        .log_wrapper__logcontents__forms__contents__btns
          = link_to user_facebook_omniauth_authorize_path, method: :post, class: "log_wrapper__logcontents__forms__contents__btns__facebook" do
            = fa_icon "facebook-square", class: "log_wrapper__logcontents__forms__contents__btns__facebook__face"
            %span.log_wrapper__logcontents__forms__contents__btns__facebook__text
              Facebookでログイン
          = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "log_wrapper__logcontents__forms__contents__btns__google" do
            %img.log_wrapper__logcontents__forms__contents__btns__google__img(src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-512.png")
            %span.log_wrapper__logcontents__forms__contents__btns__google__text
              Googleでログイン
        .log_wrapper__logcontents__forms__contents__bottom
          = form_for(resource, as: resource_name, url: session_path(resource_name), class: "log_wrapper__logcontents__forms__contents__bottom__input") do |f|
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "　メールアドレス", class: "log_wrapper__logcontents__forms__contents__bottom__input__form"
            = f.password_field :password, autocomplete: "current-password", placeholder: "　パスワード", class: "log_wrapper__logcontents__forms__contents__bottom__input__formpath"
            = recaptcha_tags
            = f.submit "ログイン", class: "log_wrapper__logcontents__forms__contents__bottom__input__btn"
          = form_for(resource, as: resource_name, url: user_session_path) do |f|
            = f.hidden_field :email, {value: 'testc@gmail.com'}
            = f.hidden_field :password, {value: '11111111'}
            = f.submit "出品者用テストログイン", class: "log_wrapper__logcontents__forms__contents__bottom__input__btn"
          = form_for(resource, as: resource_name, url: user_session_path) do |f|
            = f.hidden_field :email, {value: 'testa@gmail.com'}
            = f.hidden_field :password, {value: '11111111'}
            = f.submit "購入者用テストログイン", class: "log_wrapper__logcontents__forms__contents__bottom__input__btn"
          = link_to "", class: "log_wrapper__logcontents__forms__contents__bottom__message" do
            %p.log_wrapper__logcontents__forms__contents__bottom__message__text
              パスワードをお忘れの方
  = render 'users/shared/footer'