.header
  .header__inner
    .header__inner__top
      = link_to root_path, class: "header__inner__top--logo" do
        = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?863303983", alt: "logo", width: 135, height: 40
      .header__inner__top--search
        = form_tag search_items_path, method: :get do
          %input{ name: "keyword", placeholder: "何かお探しですか？", class: "header__inner__top--search--input", type: "search" }
            = button_tag type: "submit",class: "header__inner__top--search--btn" do
              = fa_icon "search", class: "header__inner__top--search--icon"
    .header__inner__bottom
      %ul.header__inner__bottom--left
        %li.header__inner__bottom--left--nav
          .header__inner__bottom--left--nav--wrap
            = fa_icon "list", class: "header__inner__bottom--left--nav--wrap--icon"
            = link_to "カテゴリーから探す", categories_path, id: "categories", class: "header__inner__bottom--left--nav--wrap--link"
          %ul.header__inner__bottom--left--nav--li
        %li.header__inner__bottom--left--nav
          .header__inner__bottom--left--nav--wrap
            = fa_icon "tag", class: "header__inner__bottom--left--nav--wrap--icon"
            = link_to "ブランドから探す", "https://www.mercari.com/jp/category/", class: "header__inner__bottom--left--nav--wrap--link"
          %ul.header__inner__bottom--left--nav--li
      .header__inner__bottom--right
        - if user_signed_in?
          = link_to "マイページ", user_path(current_user.id), class: "header__inner__bottom--right--mypage", method: :get 
          = link_to "ログアウト", destroy_user_session_path, id: "signout", class: "header__inner__bottom--right--mypage", method: :delete
        - else
          = button_to "新規会員登録", users_index_path, id: "signup", class: "header__inner__bottom--right--signin", method: :get
          = button_to "ログイン", new_user_session_path, id: "signin", class: "header__inner__bottom--right--login", method: :get