= link_to item_path(item), class: "li main__container__box--content--items" do
  = image_tag item.images.first, class: "main__container__box--content--items--image" if item.images.attached?
  - if item.order
    .main__container__box--content--items--soldtag
      %p SOLD
  .main__container__box--content--items--text
    .main__container__box--content--items--text--top
      = item.name
    .main__container__box--content--items--text--bottom
      .main__container__box--content--items--text--bottom--left
        = "¥#{item.price.to_s(:delimited)}"
      .main__container__box--content--items--text--bottom--right
        = fa_icon "heart", class: ".main__container__box--content--items--text--bottom--right--icon"
        .main__container__box--content--items--text--bottom--right--count
          = item.favorites.count
