= link_to "items/#{item.id}", class: "li main__container__box--content--items" do
  = image_tag item.image, size: "213x300" if item.image.attached?
  .main__container__box--content--items--text
    .main__container__box--content--items--text--name
      = item.name
    .main__container__box--content--items--text--price
      = item.price