.main
  .main__slider

  .main__container
    %h2.main__container__title
      ピックアップカテゴリー
    .main__container__box
      = link_to "レディース新着アイテム", "", class: "main__container__box--title"
      %ul.main__container__box--content
        %li.main__container__box--content--items
          = image_tag "https://static.mercdn.net/thumb/photos/m17476524660_1.jpg?1564989728", alt: "image", class: "main__container__box--content--items--image"
          .main__container__box--content--items--text
        %li.main__container__box--content--items
          = image_tag "https://static.mercdn.net/thumb/photos/m17476524660_1.jpg?1564989728", alt: "image", class: "main__container__box--content--items--image"
          .main__container__box--content--items--text
        %li.main__container__box--content--items
          = image_tag "https://static.mercdn.net/thumb/photos/m17476524660_1.jpg?1564989728", alt: "image", class: "main__container__box--content--items--image"
          .main__container__box--content--items--text
        %li.main__container__box--content--items
          = image_tag "https://static.mercdn.net/thumb/photos/m17476524660_1.jpg?1564989728", alt: "image", class: "main__container__box--content--items--image"
          .main__container__box--content--items--text