= render 'header'
= render partial:'categories/category-top', locals: {categories: @categories}
.main

  .main__slider
    = render "slider"
  .main__container
    %h2.main__container__title
      ピックアップカテゴリー
    .main__container__box
      = link_to "レディース新着アイテム", "", class: "main__container__box--title"
      %ul.main__container__box--content
        = render @items

= render 'footer'
= render 'buybtn'