= render 'header'
= render partial:'categories/category-top', locals: {categories: @categories}
.main 

  .main__slider
    = render "slider"
  .main__container
    %h2.main__container__title
      ピックアップカテゴリー
    .main__container__box
      .main__container__box--title
        = link_to "レディース 新着アイテム", category_path(@items['レディース']), class: "main__container__box--title--link"
      %ul.main__container__box--content
        = render @items['レディース']
      .main__container__box--show
        = link_to "すべての商品を見る", category_path(@items['レディース']),class: "main__container__box--show--link"
    .main__container__box
      .main__container__box--title
        = link_to "メンズ 新着アイテム", category_path(@items['メンズ']), class: "main__container__box--title--link"
      %ul.main__container__box--content
        = render @items['メンズ']
      .main__container__box--show
        = link_to "すべての商品を見る", category_path(@items['メンズ']),class: "main__container__box--show--link"
    .main__container__box
      .main__container__box--title
        = link_to "ベビー・キッズ 新着アイテム", category_path(@items['ベビー・キッズ']), class: "main__container__box--title--link"
      %ul.main__container__box--content
        = render @items['ベビー・キッズ']
      .main__container__box--show
        = link_to "すべての商品を見る", category_path(@items['ベビー・キッズ']),class: "main__container__box--show--link"
    .main__container__box
      .main__container__box--title
        = link_to "#コスメ・香水・美容 新着アイテム", category_path(@items['コスメ・香水・美容']), class: "main__container__box--title--link"
      %ul.main__container__box--content
        = render @items['コスメ・香水・美容']
      .main__container__box--show
        = link_to "すべての商品を見る", category_path(@items['コスメ・香水・美容']), class: "main__container__box--show--link"

= render 'footer'
= render 'buybtn'