= render 'header'
.search-main
  %main.search-container
    .search-container__side
      = search_form_for(Item.ransack(params[:q]), url:search_items_path, class: "search-container__side__form") do |f|
        .search-container__side__form__head
          .search-container__side__form__head__wrap
          
          = f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { selected: params[:q][:sorts] } )
        .search-container__side__form__body
          %h3.search-container__side__form__body__title
            詳細検索
          .search-container__side__form__body__group
            %label
              = fa_icon "plus", class: "search-container__side__form__body__group__icon"
              %span
                キーワードを追加する
            = f.text_field :name_or_info_cont, class: "search-container__side__form__body__group__text"
          .search-container__side__form__body__group
            %label
              = fa_icon "tag", class: "search-container__side__form__body__group__icon"
              %span
                ブランド名から探す
            = f.collection_select :brand_id_eq, Brand.all, :id, :name, include_blank: "指定なし"
          .search-container__side__form__body__group
            %label
              = fa_icon "expand", class: "search-container__side__form__body__group__icon"
              %span
                サイズを指定する
            = f.collection_select :size_id_eq, Size.all, :id, :name, include_blank: "指定なし"
          .search-container__side__form__body__group
            %label
              = fa_icon "dollar", class: "search-container__side__form__body__group__icon"
              %span
                価格
              = f.search_field :price_eq, class: "search-container__side__form__body__group__select"
            = f.search_field :price_gteq, placeholder: "¥ Min"
            %span ~
            = f.search_field :price_lteq, placeholder: "¥ Max"
          .search-container__side__form__body__group
            %label
              = fa_icon "star", class: "search-container__side__form__body__group__icon"
              %span
                商品の状態
            %div
              .search-container__side__form__body__group__checkbox
                = f.collection_check_boxes :state_id_in, State.all, :id, :name, include_blank: "指定なし"
          .search-container__side__form__body__group
            %label
              = fa_icon "truck", class: "search-container__side__form__body__group__icon"
              %span
                配送料の負担
            %div
              .search-container__side__form__body__group__checkbox
                = f.collection_check_boxes :delivery_burden_id_in, DeliveryBurden.all, :id, :name, include_blank: "指定なし"
          .search-container__side__form__body__btn
            %input.search-container__side__form__body__btn__left{ type: "reset", value: "クリア"}
            = f.submit class: "search-container__side__form__body__btn__right"
    .search-container__content
      %section.search-container__content__items
        %h2.search-container__content__items__head
          = params[:keyword]
          %span.search-container__content__items__head--text
            の検索結果
        .search-container__content__items__num
          #{@items.length}件表示
        .search-container__content__items__box
          - @items.each do |item|
            .search-container__content__items__box__detail
              = link_to "/items/#{item.id}", class: "search-container__content__items__box__detail__link" do
                .search-container__content__items__box__detail__figure
                  = image_tag item.image, size: "160x160" if item.image.attached?
                .search-container__content__items__box__detail__bottom
                  .search-container__content__items__box__detail__bottom__name
                    = item.name
                  .search-container__content__items__box__detail__bottom__price
                    = "¥" + number_with_delimiter(item.price)
.top-footer
  .top-footer__list
    %span メルカリ
= render 'footer'
