= render 'header'

.itempage
  .itempage__box
    %h1.itempage__box__title
      = @item.name
    .itempage__box__info
      .itempage__box__info--photo
        = image_tag @item.image,class: "itempage__box__info--photo--main" if @item.image.attached? 
      %table.itempage__box__info--table
        %tr
          %th.itempage__box__info--table--th 出品者
          %td.itempage__box__info--table--td
            = link_to " #{@item.user.nickname}", "", class: "itempage__box__info--table--td--name"
            .itempage__box__info--table--td--rating
              .itempage__box__info--table--td--rating--grin
                = fa_icon "smile-o", class: "itempage__box__info--table--td--rating--grin--smile"
                %span 00
              .itempage__box__info--table--td--rating--grin
                = fa_icon "meh-o", class: "itempage__box__info--table--td--rating--grin--meh"
                %span 00
              .itempage__box__info--table--td--rating--grin
                = fa_icon "frown-o", class: "itempage__box__info--table--td--rating--grin--frown"
                %span 00
        %tr
          %th.itempage__box__info--table--th カテゴリー
          %td.itempage__box__info--table--td
            = link_to "美容", "#", class: "itempage__box__info--table--td--link"
            = link_to "", class: "itempage__box__info--table--td--link" do
              = fa_icon "chevron-right", class: "itempage__box__info--table--td--link--sub"
              %span コスメ
        %tr
          %th.itempage__box__info--table--th ブランド
          %td.itempage__box__info--table--td
            = link_to "ソニー", "#", class: "itempage__box__info--table--td--link"
        %tr
          %th.itempage__box__info--table--th 商品の状態
          %td.itempage__box__info--table--td
            = @item.state.name
        %tr
          %th.itempage__box__info--table--th 配送料の負担	
          %td.itempage__box__info--table--td
            = @item.delivery_burden.name
        %tr
          %th.itempage__box__info--table--th 配送の方法
          %td.itempage__box__info--table--td
            = @item.delivery_method.name
        %tr
          %th.itempage__box__info--table--th 配送元地域	
          %td.itempage__box__info--table--td
            = link_to "#{ @item.prefecture.name }", "#", class: "itempage__box__info--table--td--link"
        %tr
          %th.itempage__box__info--table--th 発送日の目安
          %td.itempage__box__info--table--td
            = @item.day.name
    .itempage__box__price
      .itempage__box__price--num
        = "¥ #{ @item.price }" 
      .itempage__box__price--tax
        (税込)
      .itempage__box__price--post
        送料込み
    - if user_signed_in? && @item.user_id == current_user.id

    - else
      = button_to "購入画面に進む", item_orders_path(@item), method: :get, class: "itempage__box__buy"
    .itempage__box__text
      = @item.info
    .itempage__box__btn
      .itempage__box__btn--left
        = button_to "", class: "itempage__box__btn--left--like" do
          = fa_icon "heart", class: "itempage__box__btn--left--like--icon"
          .itempage__box__btn--left--like--str いいね!
          .itempage__box__btn--left--like--str 0
        = button_to "", class: "itempage__box__btn--left--flag" do
          = fa_icon "flag", class: "itempage__box__btn--left--flag--icon"
          .itempage__box__btn--left--flag--str 不適切な商品の報告
      .itempage__box__btn--right
        = link_to "", class: "itempage__box__btn--right--link" do
          = fa_icon "lock", class: "itempage__box__btn--right--link--icon"
          %span あんしん・あんぜんへの取り組み
  - if user_signed_in? && @item.user_id == current_user.id
    .itempage__edit
      = button_to "編集する",  edit_item_path(@item.id), class: "itempage__edit__btn", method: :get
      = button_to "削除する", item_path(@item.id), class: "itempage__edit__btn", method: :delete, data: { confirm: '本当にいいですか？' }

  .itempage__comment
    %p.itempage__comment__note
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %textarea{ name: "text", class: "itempage__comment__text", type: "textarea" }
    = button_to "コメントする", "", class: "itempage__comment__btn"
  
  .itempage__page
    .itempage__page__prev
      = link_to "", class: "itempage__page__prev--link" do
        = fa_icon "chevron-left", class: "itempage__page__prev--link--icon"
        %span Previous
    .itempage__page__next
      = link_to "", class: "itempage__page__next--link" do
        %span Next
        = fa_icon "chevron-right", class: "itempage__page__prev--next--icon"

  .itempage__media
    %ul.itempage__media__ul
      %li.itempage__media__ul__li
        = link_to 'http://www.facebook.com/share.php?u=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm18619748585%2F', class: "itempage__media__ul__li--link" do
          = fa_icon "facebook-square", class: "itempage__media__ul__li--link--facebook"
      %li.itempage__media__ul__li
        = link_to '', class: "itempage__media__ul__li--link" do
          = fa_icon "twitter-square", class: "itempage__media__ul__li--link--twitter"
      %li.itempage__media__ul__li
        = link_to '', class: "itempage__media__ul__li--link" do
          = fa_icon "pinterest-square", class: "itempage__media__ul__li--link--pinterest"
  
  .itempage__container
    .itempage__container__box
      = link_to "**さんの新着アイテム", "", class: "itempage__container__box--title"
      %ul.itempage__container__box--content
        
  .itempage__container
    .itempage__container__box
      = link_to "ブリスポイントのガウチョパンツ その他の商品", "", class: "itempage__container__box--title"
      %ul.itempage__container__box--content
        
- breadcrumb :item_show, @item
= render 'shared/breadcrumbs_bottom'
= render 'footer'