.category-lists-wrapper
  = render 'items/header'
  - breadcrumb :category, @category
  = render 'shared/breadcrumbs'
  .category-lists-wrapper__container
    .category-lists-wrapper__container__content
      %ul.category-lists-wrapper__container__content__nav
        %li
          = link_to "小物", "#"
        %li
          = link_to "その他", "#"
      %section.category-lists-wrapper__container__content__box
        %h1.category-lists-wrapper__container__content__box__title
          #{@category.name}の商品一覧
        .category-lists-wrapper__container__content__box__list
          - @items.each do |item|
            .category-lists-wrapper__container__content__box__list__item
              = link_to item_path(item), class: "category-lists-wrapper__container__content__box__list__item__link" do
                = image_tag item.images.first, size: "188x188" if item.images.attached?
                - if item.order
                  .category-lists-wrapper__container__content__box__list__item__soldtag
                    %p SOLD
                .category-lists-wrapper__container__content__box__list__item__bottom
                  .category-lists-wrapper__container__content__box__list__item__bottom__name
                    = item.name
                  .category-lists-wrapper__container__content__box__list__item__bottom__price
                    = "¥" + number_with_delimiter(item.price)
      .category-lists-wrapper__container__content__pager
        - if @items.current_page == 1 || @items.current_page == @items.total_pages
          = paginate @items, window: 4
        - elsif @items.current_page == 2 || @items.current_page == @items.total_pages - 1
          = paginate @items, window: 3
        - else
          = paginate @items, window: 2
      .category-lists-wrapper__container__content__description
        .category-lists-wrapper__container__content__description__title
          %h3
            = @category.name
        .category-lists-wrapper__container__content__description__text
          %p
            レディースの着ない服、いらない洋服を売るならメルカリへ。レディースの商品は100万点以上あります。人気のあるカテゴリーはストール/スヌードとコスプレです。人気の商品は「ZARA 黒白チェックのストール」や「コスプレ ハロウィン 不思議の国のアリス」があります。レディースの買い取りやリサイクル処分、服の整理を検討中の方にお勧めです。
  = render 'items/footer'
