- card_info = card.disp_car_info(current_user)
%li.mypage__right__side__credit__container__top__list
  .mypage__right__side__credit__container__top__list__content
    .mypage__right__side__credit__container__top__list__content__icon
      = image_tag "card/#{card_info[:brand]}.svg", class: "mypage__right__side__credit__container__top__list__content__icon", alt: "#{card_info[:brand]}"  
    .mypage__right__side__credit__container__top__list__content__num
      = "************#{card_info[:last4]}"
    .mypage__right__side__credit__container__top__list__content__num
      = "#{card_info[:month]}/#{card_info[:year]}"
    = link_to "削除する", users_card_path(card), method: :delete, class: "mypage__right__side__credit__container__top__list__content__btn"
    - if default == card.payjp_car
      デフォルトです
    - else
      = link_to "デフォルトに変更する", change_users_card_path(card)