!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title App
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__inner
        .header__inner__top
          .header__inner__top--logo
            = link_to "", "https://www.mercari.com/jp/"
            = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?863303983", alt: "logo", width: 135, height: 40
          .header__inner__top--search
            %input{ name: "keyword", placeholder: "何かお探しですか？", class: "header__inner__top--search--input", type: "search" }
            = fa_icon "search", class: "header__inner__top--search--icon"
        .header__inner__bottom
          %ul.header__inner__bottom--left
            %li.header__inner__bottom--left--nav
              .header__inner__bottom--left--nav--wrap
                = fa_icon "list", class: "header__inner__bottom--left--nav--wrap--icon"
                = link_to "カテゴリーから探す", "https://www.mercari.com/jp/category/", class: "header__inner__bottom--left--nav--wrap--link"
              %ul.header__inner__bottom--left--nav--li
              
            %li.header__inner__bottom--left--nav
              .header__inner__bottom--left--nav--wrap
                = fa_icon "tag", class: "header__inner__bottom--left--nav--wrap--icon"
                = link_to "ブランドから探す", "https://www.mercari.com/jp/category/", class: "header__inner__bottom--left--nav--wrap--link"
              %ul.header__inner__bottom--left--nav--li
          .header__inner__bottom--right
            %input{ name: "signin", class: "header__inner__bottom--right--signin", type: "button", value: "新規会員登録" }
            %input{ name: "login", class: "header__inner__bottom--right--login", type: "button", value: "ログイン" }
        
    = yield
    
    .banner
      .banner__contents
        .banner__contents__left
          .banner__contents__left__first
            スマホでかんたんフリマアプリ
          .banner__contents__left__second
            今すぐ無料ダウンロード！
          .banner__contents__left__icon
            = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?3791839826", alt: "logo", width: 68, height: 68
            %ul.banner__contents__left__icon--btn
              %li.banner__contents__left__icon--btn--apple
                = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3791839826", alt: "image", width: 135, height: 40
              %li.banner__contents__left__icon--btn--google
                = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3791839826", alt: "image", width: 135, height: 40
        .banner__contents__right
          = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?3791839826", alt: "image", width: 300, height: 260
            
    .footer
      .footer__contents
        .footer__contents__left
          .footer__contents__left__title
            メルカリについて
          %ul.footer__contents__left__ul
            %li.footer__contents__left__ul--li
              = link_to "会社概要（運営会社）","", class: "footer__contents__left__ul--li--text"
            %li.footer__contents__left__ul--li
              = link_to "採用情報", "", class: "footer__contents__left__ul--li--text"
            %li.footer__contents__left__ul--li
              = link_to "プレスリリース", "", class: "footer__contents__left__ul--li--text"
            %li.footer__contents__left__ul--li
              = link_to "公式ブログ", "", class: "footer__contents__left__ul--li--text"
            %li.footer__contents__left__ul--li
              = link_to "メルカリロゴ利用ガイドライン", "", class: "footer__contents__left__ul--li--text"
          %ul.footer__contents__left__icon
            %li.footer__contents__left__icon--li
              %a{ href: 'https://twitter.com/mercari_jp', class: "footer__contents__left__icon--li--link" }
                = fa_icon "twitter", class: "footer__contents__left__icon--li--twitter"
            %li.footer__contents__left__icon--li
              %a{ href: 'https://www.facebook.com/mercarijp', class: "footer__contents__left__icon--li--link" }
                = fa_icon "facebook-square", class: "footer__contents__left__icon--li--facebook"
        .footer__contents__center
          .footer__contents__center__title
            ヘルプ＆ガイド
          %ul.footer__contents__center__ul
            %li.footer__contents__center__ul--li
              = link_to "メルカリガイド","", class: "footer__contents__center__ul--li--text"
            %li.footer__contents__center__ul--li
              = link_to "らくらくメルカリ便", "", class: "footer__contents__center__ul--li--text"
            %li.footer__contents__center__ul--li
              = link_to "ゆうゆうメルカリ便", "", class: "footer__contents__center__ul--li--text"
            %li.footer__contents__center__ul--li
              = link_to "大型メルカリ便", "", class: "footer__contents__center__ul--li--text"
            %li.footer__contents__center__ul--li
              = link_to "車体取引ガイド","", class: "footer__contents__center__ul--li--text"
            %li.footer__contents__center__ul--li
              = link_to "メルカリあんしん・あんぜん宣言！", "", class: "footer__contents__center__ul--li--text"
            %li.footer__contents__center__ul--li
              = link_to "偽ブランド品撲滅への取り組み", "", class: "footer__contents__center__ul--li--text"
            %li.footer__contents__center__ul--li
              = link_to "メルカリボックス", "", class: "footer__contents__center__ul--li--text"
        .footer__contents__right
          .footer__contents__right__title
            プライバシーと利用規約
          .footer__contents__right__ele
            %ul.footer__contents__right__ele__ul
              %li.footer__contents__right__ele__ul--li
                = link_to "プライバシーポリシー","", class: "footer__contents__right__ele__ul--li--text"
              %li.footer__contents__right__ele__ul--li
                = link_to "メルカリ利用規約", "", class: "footer__contents__right__ele__ul--li--text"
              %li.footer__contents__right__ele__ul--li
                = link_to "あんしんスマホサポート制度に関する利用特約", "", class: "footer__contents__right__ele__ul--li--text"
              %li.footer__contents__right__ele__ul--li
                = link_to "コンプライアンスポリシー", "", class: "footer__contents__right__ele__ul--li--text"
            %ul.footer__contents__right__ele__ul
              %li.footer__contents__right__ele__ul--li
                = link_to "個人データの安全管理に係る基本方針","", class: "footer__contents__right__ele__ul--li--text"
              %li.footer__contents__right__ele__ul--li
                = link_to "特定商取引に関する表記", "", class: "footer__contents__right__ele__ul--li--text"
              %li.footer__contents__right__ele__ul--li
                = link_to "資金決済法に基づく表示", "", class: "footer__contents__right__ele__ul--li--text"
              %li.footer__contents__right__ele__ul--li
                = link_to "法令順守と犯罪抑止のために", "", class: "footer__contents__right__ele__ul--li--text"
        .footer__contents__language
          .footer__contents__language__title
            国
          %ul.footer__contents__language__ul
            %li.footer__contents__language__ul--li
              = link_to "日本","", class: "footer__contents__language__ul--li--text"
            %li.footer__contents__language__ul--li
              = link_to "United States", "", class: "footer__contents__language__ul--li--text"
      .footer__bottom
        .footer__bottom__logo
          %a{ href: 'https://www.mercari.com/jp/', class: "footer__bottom__logo--link" }
            = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?3791839826", class: "footer__bottom__logo--mercari"
        .footer__bottom__copyright
          © 2019 Mercari
          
